<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<body>
<!-- Section-->
<section layout:fragment="body" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div th:if="${param.success}" class="alert alert-success">You are registered successfully!</div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center gx-4 gx-lg-5">
            <div th:each="product :${products}" class="col mb-4">
                <div class="card h-100">
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <img class="card-img-top" th:src="${product.imageUrl}" alt="Product Image" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bold" th:text="${product.name}"></h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <span class="text-muted">$ <text th:text="${product.price}"></text></span>
                            <span class="text-muted">Quantity: <text th:text="${product.quantity}"></text></span>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/products/{productId}(productId = ${product.id})}">Details</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{addToCart/{productId}(productId = ${product.id})}">Add to Cart</a>
                        </div>
                        <div th:if="${user.id} == ${product.createdBy.id}">
                            <div sec:authorize="isAuthenticated()" class="text-center">
                                <a class="btn btn-outline-dark mt-auto" th:href="@{/{productId}/edit(productId = ${product.id})}">Edit</a>
                            </div>
                        </div>
                        <div th:if="${user.id} == ${product.createdBy.id}">
                            <div sec:authorize="isAuthenticated()" class="text-center">
                                <a class="btn btn-danger" th:href="@{/delete/{productId}(productId = ${product.id})}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>